{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
<title>Outcome Prediction</title>
</head>

<body>

<h2>Patient Outcome Prediction</h2>

<form method="POST">

<input type="number"
name="patient_id"
placeholder="Patient ID">

<br><br>

<input type="number"
name="age"
placeholder="Age">

<br><br>

<input type="number"
name="bp"
placeholder="Blood Pressure">

<br><br>

<input type="number"
name="sugar"
placeholder="Sugar Level">

<br><br>

<input type="number"
step="0.1"
name="bmi"
placeholder="BMI">

<br><br>

<input type="number"
name="cholesterol"
placeholder="Cholesterol">

<br><br>

<input type="number"
name="heart_rate"
placeholder="Heart Rate">

<br><br>

<button type="submit">

Predict Outcome

</button>

</form>

</body>
</html>

{% endblock %}