Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Mail==0.10.0
Flask-MySQLdb==2.0.0
mysqlclient==2.2.4
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
joblib==1.4.2
gunicorn==22.0.0
python-dotenv==1.0.1
reportlab==4.2.2
matplotlib==3.9.0
twilio==9.8.0