<!DOCTYPE html>
<html>

<head>
<title>
Treatment Recommendation
</title>
</head>

<body>

<h2>
Treatment Recommendation
</h2>

<form method="POST">

<input
type="number"
name="patient_id"
placeholder="Patient ID">

<br><br>

<select name="disease">

<option>
Diabetes
</option>

<option>
Heart Disease
</option>

<option>
Kidney Disease
</option>

<option>
Cancer Risk
</option>

<option>
Healthy
</option>

</select>

<br><br>

<button type="submit">

Get Recommendation

</button>

</form>

</body>
</html>