{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
<title>Doctor List</title>
</head>

<body>

<h1>Doctor List</h1>

<table class="table-modern">

<tr>

<th>ID</th>
<th>Name</th>
<th>Specialization</th>
<th>Experience</th>
<th>Action</th>

</tr>

{% for d in doctors %}

<tr>

<td>{{ d[0] }}</td>
<td>{{ d[1] }}</td>
<td>{{ d[3] }}</td>
<td>{{ d[5] }}</td>

<td>

<a href="/doctor/{{d[0]}}">
View
</a>

|

<a href="/delete_doctor/{{d[0]}}">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>

</body>
</html>

{% endblock %}