<!DOCTYPE html>
<html>

<head>
<title>
Reports Dashboard
</title>
</head>

<body>

<h1>
Hospital Reports
</h1>

<a href="/export_disease_report">
Disease Report
</a>

<br><br>

<a href="/export_recovery_report">
Recovery Report
</a>

<br><br>

<a href="/export_doctor_report">
Doctor Report
</a>

<br><br>

<a href="/export_bed_report">
Bed Report
</a>

<br><br>

<a href="/export_resource_report">
Resource Report
</a>

<br><br>

<a href="/export_pdf_report">
PDF Summary
</a>

<br><br>

<a href="/report_list">
View Generated Reports
</a>

</body>
</html>