{% extends "base.html" %}

{% block content %}

<div class="glass-card">

<h2 class="mb-4">
📅 Book Appointment
</h2>

<form method="POST">

<div class="mb-3">

<label>Patient</label>

<select class="form-control"
name="patient_id">

{% for p in patients %}

<option value="{{p[0]}}">
{{p[1]}}
</option>

{% endfor %}

</select>

</div>

<div class="mb-3">

<label>Doctor</label>

<select class="form-control"
name="doctor_id">

{% for d in doctors %}

<option value="{{d[0]}}">
{{d[1]}}
</option>

{% endfor %}

</select>

</div>

<div class="row">

<div class="col-md-6 mb-3">

<label>Date</label>

<input type="date"
class="form-control"
name="appointment_date">

</div>

<div class="col-md-6 mb-3">

<label>Time</label>

<input type="time"
class="form-control"
name="appointment_time">

</div>

</div>

<div class="mb-4">

<label>Reason</label>

<textarea class="form-control"
rows="4"
name="reason"></textarea>

</div>

<button class="btn btn-warning btn-lg">

📅 Book Appointment

</button>

</form>

</div>

{% endblock %}

