<h2>
Patient Monitoring
</h2>

<form method="POST">

<input
type="number"
name="patient_id"
placeholder="Patient ID">

<br><br>

<input
type="number"
step="0.1"
name="oxygen"
placeholder="Oxygen Level">

<br><br>

<input
type="number"
step="0.1"
name="heart_rate"
placeholder="Heart Rate">

<br><br>

<input
type="number"
step="0.1"
name="bp"
placeholder="Blood Pressure">

<br><br>

<input
type="number"
step="0.1"
name="temperature"
placeholder="Temperature">

<br><br>

<button>

Analyze

</button>

</form>