{% extends "base.html" %}

{% block content %}

<div class="row">

<div class="col-md-3">
<div class="card-box bg1">
<h3>{{ total_patients }}</h3>
<p>Total Patients</p>
</div>
</div>

<div class="col-md-3">
<div class="card-box bg2">
<h3>85%</h3>
<p>Recovery Rate</p>
</div>
</div>

<div class="col-md-3">
<div class="card-box bg3">
<h3>25</h3>
<p>Appointments Today</p>
</div>
</div>

<div class="col-md-3">
<div class="card-box bg4">
<h3>15</h3>
<p>Doctors Available</p>
</div>
</div>

</div>

{% endblock %}

